@import url("https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #1b1b32;
  font-family: "Butterfly Kids", cursive;
  /* margin-top: 40px; */
}

h1 {
  color: #845ec2;
  font-size: 35px;
  text-align: center;
  margin: 20px 0;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.todo-container {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-logo {
  width: 300px;
  height: auto;
}

.todo-main-list {
  width: 600px;
  min-height: 500px;
  background-image: linear-gradient(
    to right top,
    #b7fe9e,
    #a7feac,
    #98feba,
    #8cfdc8,
    #82fbd4,
    #77f8da,
    #6df5df,
    #65f1e4,
    #54ece6,
    #42e7e8,
    #2ce1ea,
    #00dcec
  );
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}
